#name {
  background: yellow;
}

#name h1 {
  padding-bottom: 1em;
}

#name {
  background: linear-gradient(0deg, #ff9000, #ff0068);
  background-size: 400% 400%;

  -webkit-animation: AnimatedGradient 15s ease infinite;
  -moz-animation: AnimatedGradient 15s ease infinite;
  animation: AnimatedGradient 15s ease infinite;
}

#about-me {
  background: linear-gradient(0deg, #e199ff, #9e8cff);
  background-size: 400% 400%;

  -webkit-animation: AnimatedGradient 15s ease infinite;
  -moz-animation: AnimatedGradient 15s ease infinite;
  animation: AnimatedGradient 15s ease infinite;
}

#tech {
  background: linear-gradient(0deg, #c8f7fd, #c9fdc8);
  background-size: 400% 400%;

  -webkit-animation: AnimatedGradient 15s ease infinite;
  -moz-animation: AnimatedGradient 15s ease infinite;
  animation: AnimatedGradient 15s ease infinite;
}

#tech h2,
#tech h3,
#tech p {
  color: #0C85E8
}

#about-me p {
  color:#0c2658;
}

#abhinav {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 0px;

  max-width: 100vh;
  max-height: calc(100vh - 10vh - 1em - 10em);
}

#name div {
  text-align: center;
}

@-webkit-keyframes AnimatedGradient {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
@-moz-keyframes AnimatedGradient {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
@keyframes AnimatedGradient {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
