/*We remove all default margins and paddings to get a clean slate.
This is not necessarily a good idea, but I want to do it here.
It's more of a matter of personal opinion, and I might remove this.*/
* {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 100vh;
}

.shortcut {
  width: 2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

a {
  text-decoration: none;
}

#name {
  background: yellow;
}

h1, h2 {
  text-align: center;
  
  padding-top: 1em;
  padding-bottom: 10vw;
  
  color: white;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  -webkit-text-stroke: 1px black;
  text-shadow: 0.1em 0.1em black;
}

h3, h4, h5, h6, p {
  color: black;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.section {
  padding-left: 10vw;
  padding-right: 10vw;
}

.section:not(:last-child) {
  padding-bottom: 1em;
}

#name {
  background: linear-gradient(0deg, #ff9000, #ff0068);
  background-size: 400% 400%;

  -webkit-animation: AnimatedGradient 15s ease infinite;
  -moz-animation: AnimatedGradient 15s ease infinite;
  animation: AnimatedGradient 15s ease infinite;
}

#abhinav {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 0px;

  max-width: 100vh;
  max-height: calc(100vh - 10vh - 1em - 10em);
}

#name div {
  text-align: center;
}

@-webkit-keyframes AnimatedGradient {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
@-moz-keyframes AnimatedGradient {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
@keyframes AnimatedGradient {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
