body {
	font-family: sans-serif;

	margin-top: 10vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.title {
	text-align: center;
}

img, iframe {
	width: 100%;
}

p {
	text-align: justify;
}

#regions-map {
	height: 90vh;
}
